<div class="logo w-auto">
  Logo
</div>
<ul class="navigation w-full flex max-md:flex-col items-center">
  <li><a href="/">Home</a></li>
  <li>Features</li>
  <li>Pricing</li>
  <li><a href="/blog.html">Blog</a></li>
</ul>