@font-face {
  font-family: 'Poppins-bold';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-regular';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-extra-light';
  src: url('./fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-thin';
  src: url('./fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fonts */
:root {
  --default-font: "Poppins-regular", sans-serif;
  --default-font-bold: "Poppins-bold", sans-serif;
  --default-font-thin: "Poppins-thin", sans-serif;
  --default-font-extra-light: "Poppins-extra-light", sans-serif;
}


/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #000;
  --default-color: #B3B3B3;
  --heading-color: #EEEEEE;
  --surface-color: #5A5A5A;
  --contrast-color: #ffffff;
  --accent-color: #00ADB5;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  background: var(--background-color);
  color: var(--default-color);
  font-family: var(--default-font-extra-light);
  font-size: var(--font-size-default);
  font-weight: 200;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

img {
  width: 100%;
  height: auto;
}

#header {
  display: none !important;
  opacity: 0;
}

.hero {
  position: relative;
  background: url(../img/desktop-bg.webp) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding: var(--spacing);
  display: flex;
  align-items: center;
}

.hero h2 {
  width: 50%;
}

.profile-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: center;
  margin-top: -48px;
  z-index: 2;
}

@media screen and (min-width: 370px) {
  .profile-section {
    flex-direction: row;
  }
}

.profile {
  max-width: 390px;
  max-height: 390px;
  border-radius: 50%;
  overflow: hidden;
}

.social-media {
  display: flex;
  width: 100%;
  gap: 24px;
  padding-top: 8px;
}

.social-media .icon {
  width: 48px;
  height: 48px;
  padding: 16px;
  background: var(--surface-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media .icon img {
  width: 100%;
  height: 100%;
}

.footer {
  text-align: center;
  padding: var(--spacing);
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery .gallery-item img {
  transition: 0.3s;
}

.gallery .gallery-links {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  line-height: 1.2;
  margin: 30px 8px 0 8px;
}

.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
  color: #ffffff;
}

.gallery .gallery-links .details-link {
  font-size: 30px;
  line-height: 0;
}

.gallery .gallery-item:hover .gallery-links {
  opacity: 1;
}

.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link {
  margin-top: 0;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

.glightbox-clean .gslide-description {
  background: #272727;
}

.glightbox-clean .gslide-title {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}