:root {
    --xxs: 16px;
    --xs: 18px;
    --sm: 24px;
    --md: 32px;
    --lg: 48px;
    --xl: 64px;
    --xxl: 96px;
}

@media screen and (min-width: 320px) {
    :root {
        --spacing: var(--xs);
        --icon-size: var(--sm);
        --font-size-default: var(--xxs);
        --font-size-heading-1: calc(var(--xl));
        --font-size-heading-2: calc(var(--lg));
        --font-size-heading-3: calc(var(--md));
        --font-size-heading-4: calc(var(--sm));
    }
}

@media screen and (min-width: 375px) {
    :root {
        --spacing: var(--md);
        --icon-size: var(--sm);
        --font-size-default: var(--xs);
        --font-size-heading-1: calc(var(--xl));
        --font-size-heading-2: calc(var(--lg));
        --font-size-heading-3: calc(var(--md));
        --font-size-heading-4: calc(var(--sm));
    }
}

@media screen and (min-width: 768px) {
    :root {
        --spacing: var(--lg);
        --icon-size: var(--md);
        --font-size-default: var(--xs);
        --font-size-heading-1: calc(var(--xxl));
        --font-size-heading-2: calc(var(--xl));
        --font-size-heading-3: calc(var(--lg));
        --font-size-heading-4: calc(var(--sm));
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --spacing: var(--xl);
        --icon-size: var(--lg);
        --font-size-default: var(--xs);
        --font-size-heading-1: calc(var(--xxl));
        --font-size-heading-2: calc(var(--xl));
        --font-size-heading-3: calc(var(--lg));
        --font-size-heading-4: calc(var(--sm));
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --spacing: var(--xl);
        --icon-size: var(--xl);
        --font-size-default: var(--xs);
        --font-size-heading-1: calc(var(--xxl));
        --font-size-heading-2: calc(var(--xl));
        --font-size-heading-3: calc(var(--lg));
        --font-size-heading-4: calc(var(--sm));
    }
}